* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #5c90ac;
    color: white;
    min-height: 100vh;
    font-family: sans-serif;
}
header{
    font-size: 25px;
    color:#1c536c;
}

header,
form{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 30vh;
}
form input ,
button{
    padding:0.5rem ;
    padding-left: 1px;
    font-size:1.8rem ;
    border: none;
    background: white;
    border-radius: 2rem;
    outline: none;
}

.todo-input{
    padding: 10px;
    border: none;
    border: 2px solid #eee;
    color: #333;
}

form button{
    color: #f4ecac;
    background: white;
    margin-left: 0.5rem;
    transition: all 0.3s ease;
    font-size: 25px;
    color: #333;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

form button:hover{
    color: white;
    background: #f4ecac;
}

/* i{
    margin-top: 0.3rem;
    margin-left:8px ;
} */

.todo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list{
    list-style: none;
    min-width: 30%;
}

select{
    appearance: none;
    border: none;
    outline: none;
    width: 10rem;
    height: 3.2rem;
    padding: 1rem;
    border-radius: 50px;
    font-weight: bolder;
    cursor: pointer;
}

.select .filter-todo{
    color: #333;
    font-size: 16px;
}
.select{
    margin: 1rem;
    position: relative;
    overflow: hidden;
    border-radius: 50px;
}

.select::after{
    content: "\25bc";
    position: absolute;
    background: #f4ecac;
    top: 0;
    right: 0;
    padding: 1rem;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    pointer-events: none;
}

.select:hover::after{
    background: white;
    color: #f4ecac;
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list {
    min-width: 30%;
    list-style: none;
}

.todo {
    margin: 0.5rem;
    padding-left: 0.5rem;
    background: white;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    border-radius: 2rem;
}

.todo li {
    flex: 1;
}

.trash-btn, 
.complete-btn {
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1.5rem;
}

.complete-btn {
    background: #f4ecac;
}

.trash-btn {
    border-top-right-radius: 1.75rem;
    border-bottom-right-radius: 1.75rem;
    background: rgb(171, 171, 171);
}

.todo-item {
    padding: 0rem 0.5rem;
}

.fa-trash, 
.fa-check-circle {
    pointer-events: none;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

.slide {
    transform: translateX(10rem);
    opacity: 0;
}
